#components-layout-demo-responsive .logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
  }
  
  #components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
  }
  
  #components-layout-demo-custom-trigger .logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
  }
  
  .ant-layout-header {
    background: white !important;
  }
  
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected, .ant-menu-item:active {
    background-color: #ff8d005c !important;
    text-decoration: none !important;
  }
  
  .ant-menu-item:after {
    border-right: 3px solid #ff8d00 !important;
  }
  
  .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-item:hover {
    border-bottom: 2px solid #ff8d00 !important;
  }
  
  .ant-menu-item-selected a, .ant-menu-item:hover a {
    color: #ff8d00 !important;
    text-decoration: none !important;
  }
  
  .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    background: #ff8d00 !important;
    border-color: #ff8d00 !important;
  }
  
  .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
    border-color: #ff8d00 !important;
    background: #ff8d00 !important;
    color: #fff !important;
  }
  
  .ant-radio-button-wrapper:hover, .ant-radio-button-wrapper-focused {
    color: #ff8d00 !important;
  }
  
  .ant-radio-button-wrapper-checked {
    -webkit-box-shadow: -1px 0 0 0 #ff8d00 !important;
    box-shadow: -1px 0 0 0 #ff8d00 !important;
  }
  
  ::selection {
    background: #ff8d00 !important;
    color: #fff;
  }
  
  blockquote {
    font-size: 90%;
    color: #697b8c;
    border-left: 4px solid #ebedf0;
    padding-left: 0.8em;
    margin: 1em 0;
  }
  
  .ant-menu-inline {
    height: 100% !important;
  }
  
  .ant-layout-sider-zero-width-trigger:hover {
    background: white !important;
  }
  
  .ant-layout-sider-zero-width-trigger {
    background: white !important;
    color: #5f008e !important;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: absolute;
    top: -50px !important;
    right: -56px;
    width: 36px;
    height: 42px;
    border-color: #5f008e !important;
    border-radius: 5px;
    z-index: 100;
  }